  <h3>Bienvenido a <%= title %></h3>
  El portal donde podrá crear sus propios juegos!
  
  <footer><a href="https://github.com/fabiopalumbo/quiz-2015-clone">https://github.com/fabiopalumbo/quiz-2015-clone</a></footer>
